{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}




     {% for img in image %}
     
         <div class="img-layout">
         
             <ul>
                    <img src="{{ url_for('static', filename='uploads/' + user.img ) }}"></img>
             </ul>
             
         </div>
     {% endfor %}

{% for user in users %}  
<div class="user-control">

     {{ user.firstname }} {{ user.lastname }}</br
     <i class="fa fa-user-o"></i> {{ user.gender }}</br>
     <i class="fa fa-map-marker"></i> {{ user.location }}</br>
</div>

{% endfor %}

{% endblock %}